{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
   
  </head>
  <body class='bg-orange-100'>
      <div class="bg-blue-500 text-white p-4">
    <div class="flex justify-between items-center">
      
      
      <div class="text-lg font-bold">
        Sajal
      </div>

      
      <div class="mr-6">
        <a href="{% url "home" %}" class="mr-4 hover:underline">Home</a>
        <a href="{% url "dashboard" %}" class="hover:underline">Dashboard</a>
      </div>
 
    </div>
  </div>


  {% block event %}
  

  {% endblock event %}



  </body>
</html>